/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.black {background-color: black;
width: 100%;}

.background-div {
    margin-bottom: -200px;
    width: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

.topmost-div {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 50;
}

.clearfix {
    clear: both;   
}

.blank-div {
    width: 100%;
    height: 13px;
}


.hide{
    display: none;
}
.show{
    display:block;
}
.active{
    opacity:1;
}
.inactive {
    opacity: 0;
}   


.new_home {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: black;
}

#sky {
    width: 100%;
    height: 416px;
    position: absolute;
    background: transparent url("sky.jpg") 0 0px repeat-x;
    animation: animate-sky 32s linear infinite;
    -webkit-animation: animate-sky 32s linear infinite;
    -moz-animation: animate-sky 32s linear infinite;
    -o-animation: animate-sky 32s linear infinite;
}

@keyframes animate-sky{
    from {background-position: 100% 0;}
    to {background-position: 0 0}
}
@-webkit-keyframes animate-sky{
    from {background-position: 100% 0;}
    to {background-position: 0 0}
}
@-moz-keyframes animate-sky{
    from {background-position: 100% 0;}
    to {background-position: 0 0}
}
@-o-keyframes animate-sky{
    from {background-position: 100% 0;}
    to {background-position: 0 0}
}

#city1{
    width: 100%;
    height: 416px;
    top: 15%;
    position: absolute;
    background: transparent url("city1.png") 0 130px repeat-x;
    z-index: 10;
    animation: animate-city1 30s linear infinite;
    -webkit-animation: animate-city1 30s linear infinite;
    -moz-animation: animate-city1 30s linear infinite;
    -o-animation: animate-city1 30s linear infinite;
}

@keyframes animate-city1 {
    from {background-position: 100% 0;}
    to {background-position: 0 0;}
}
@-webkit-keyframes animate-city1 {
    from {background-position: 100% 0;}
    to {background-position: 0 0;}
}
@-moz-keyframes animate-city1 {
    from {background-position: 100% 0;}
    to {background-position: 0 0;}
}
@-o-keyframes animate-city1 {
    from {background-position: 100% 0;}
    to {background-position: 0 0;}
}

#city2{
    width: 100%;
    height: 416px;
    top: 15%;
    position: absolute;
    background: transparent url("city2.png") 0 130px repeat-x;
    z-index: 30;
    animation: animate-city1 28s linear infinite;
    -webkit-animation: animate-city1 28s linear infinite;
    -moz-animation: animate-city1 28s linear infinite;
    -o-animation: animate-city1 28s linear infinite;
}

#plane {
    top: 8%;
    margin-left: 10%;
    width: 730px;
    height: 167px;
    position: absolute;
    background: transparent url("planesprite3.png") 0 50px no-repeat;
}

.top-div {
    width: 100%;
    height: 700px;
    overflow: hidden;
    border: 1px solid;
}


.skills {
    width: 100%;
    height: 650px; 
    background: #F0F5FF url(skyBackground.jpg) repeat-x;
}
#sun {
    width: 150px;
    height: 150px;
    background: url('sun.png') no-repeat;
    position: absolute;
    left: 4%;
    margin-top: 2%;
}
#cloud {
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 6;
    background: url("cloud1.png") 0 0px repeat-x;
    animation: animate-cloud 6s linear infinite;
    -webkit-animation: animate-cloud 6s linear infinite;
    -moz-animation: animate-cloud 6s linear infinite;
    -o-animation: animate-cloud 6s linear infinite;
}
#cloud1 {
    width: 100%;
    height: 150px;
    margin-top: 7%;
    z-index: 3;
    position: absolute;
    background: url("cloud1.png") 0 0px repeat-x;
    animation: animate-cloud 10s linear infinite;
    -webkit-animation: animate-cloud 10s linear infinite;
    -moz-animation: animate-cloud 10s linear infinite;
    -o-animation: animate-cloud 10s linear infinite;
}
@keyframes animate-cloud {
    from {background-position: 100% 0;}
    to {background-position: 0 0;}
}
@-webkit-keyframes animate-cloud {
    from {background-position: 100% 0;}
    to {background-position: 0 0;}
}
@-moz-keyframes animate-cloud {
    from {background-position: 100% 0;}
    to {background-position: 0 0;}
}
@-o-keyframes animate-cloud {
    from {background-position: 100% 0;}
    to {background-position: 0 0;}
}

#grass {
    width: 100%;
    height: 100px;
    margin-top: 42%;
    
    position: absolute;
    background: url("grass4.png") 0 10px repeat-x;
}
#direction {
    width: 215px;
    height: 410px;
    position: absolute;
    z-index: 10;
    background: url("guide1.png") no-repeat;
    margin-top: 19%;
    margin-left: 5%;
}
#guide {
    background: url('skill.png') 0% 100% no-repeat;
    width: 106px;
    height: 44px;
    position: relative;
    top: 26px;
    left:23%;
}
#guide:hover {
    
    background-position: 0% 0%;
}
#l1 {
    background: url('html.png') 0% 82% no-repeat;
    width: 106px;
    height: 44px;
    position: relative;
    top: 15%;
    left:2%;
}
#l1:hover {
    background-position: 0% 0%;
}

#l2 {
    background: url('css.png') 0% 81% no-repeat;
    width: 106px;
    height: 44px;
    position: relative;
    top: 8%;
    left:39%;
}
#l2:hover {
    background-position: 0% 0%;
}

#l3 {
    background: url('java.png') 0% 93% no-repeat;
    width: 106px;
    height: 44px;
    position: relative;
    top: 8%;
    left:6%;
}
#l3:hover {
    left: 7%;
    background-position: 10% 0%;
}

#l4 {
    background: url('jquery.png') 0% 88% no-repeat;
    width: 106px;
    height: 44px;
    position: relative;
    top: 3%;
    left:44%;
}
#l4:hover {
    top:1%;
    left:45%;
    background-position: 10% 0%;
}

#l5 {
    background: url('coming1.png') 0% 88% no-repeat;
    width: 106px;
    height: 44px;
    position: relative;
    top: -10px;
    left:5%;
}
#l5:hover {    
    background-position: 10% 0%;
}   

.nav-bar-div {
    overflow: hidden;
    width: 100%;
    height: 700px;
}

.bubbles {
    background: url("bubbles.png");
    background-color: #C2D6FF;
    width: 100%;
    height: 700px;
    background-position: 0px 0px;
    background-repeat: repeat;
    z-index: 200;
    animation: animateBubbles 17s linear infinite;
    -webkit-animation: animateBubbles 17s linear infinite;
    -moz-animation: animateBubbles 17s linear infinite;
    -o-animation: animateBubbles 17s linear infinite;
}

@keyframes animateBubbles {
    from {background-position: 0 0; }
    to {background-position: 100% 0; }
}
@-webkit-keyframes animateBubbles {
    from {background-position: 0 0; }
    to {background-position: 100% 0; }
}
@-moz-keyframes animateBubbles {
    from {background-position: 0 0; }
    to {background-position: 100% 0; }
}
@-o-keyframes animateBubbles {
    from {background-position: 0 0; }
    to {background-position: 100% 0; }
}

.container {
    margin: 12% 0 10% 8%;
    border: 1px solid;
    perspective: 800px;
}

.flipper {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
}

.container:hover .flipper, .container.hover .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.container, .flip-card-front, .flip-card-back {
    width: 400px;
    height: 350px;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}


.flip-card-front {
    background-color: red;   
}

.flip-card-back {
    background-color: green;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.contacts-div {
    width: 100%;
    height: 100px;
    background-color: inherit;
}

.footer {
    background: url("bg_footer.png");
    width: 100%;
    height: 100px;
    
}

.footer li {
    float: right;
    display: inline;
}

.ft-icon {
    width: 34px;
    height: 34px;
    display: inline-block;
    margin-top: 25px
}

 .f-li {
    background: url("facebook.png");
}
.lnk-li {
    background: url("linked-in.png");
}
.email-li {
    background: url("email.png");
}
.cls-li {
    margin-right: 20px;
    background: url("close.png");
}

.info-li {
    background: url("info.png");
    margin-right: 20px;
}

.topmost-div ul {
    padding-top: 18px;
}

.topmost-div li {
    float: right;
    font-family: cursive;
    display: inline;
    border-width: none;
    margin-top: 25px;
    margin-right: 20px;
    padding: 5px;
    box-shadow: 7px 5px 2px;
    background-color: white;
}

a {
    text-decoration: none;
}
